{% extends "CypressGitElephantDemoBundle::base.html.twig" %}

{% block content %}
    {{ parent() }}
    {% include "CypressGitElephantDemoBundle:Repository:_tabs.html.twig" with {'selected': 'commits'} %}

    <table class="tree bordered-table zebra-striped">
        {% for commit in logs %}
        <tr>
            <td>
                <h2>
                    <a href="{{ path('repository_commit', { 'sha': commit, 'repository_name': repository_name }) }}">{{ commit.message }}</a>
                </h2>
                <span class="label">{{ commit }}</span>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        <ul>
            <li class="prev disabled"><a href="#">&larr; Previous</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li class="next"><a href="#">Next &rarr;</a></li>
        </ul>
    </div>
{% endblock %}